<!--
COMP249-WebHeroes
Manya Gupta - 301176500
Prince Duru - 301167756
Tatsat Tendulkar - 301166880
Shaqayeq Salimy - 301114141
Mark Vinarao - 301161669
-->

<div class="navcontainer" style="width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="navcontent1">
        <a class="navbar-brand" href="/home">
            <img src="/assets/webheroes.PNG" width="80" height="45" class="d-inline-block align-right" alt="">
            Web Heroes
          </a>
        </div>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navcontent">
        <div class="collapse navbar-collapse end" id="navbarNavAltMarkup">
          <div class="navbar-nav" id="navbar1">
            <a class="nav-link" href="/home">Home </a>
          </div>
          <div class="navbar-nav" id="navbar2">
            <a class="nav-link" href="/survey">Survey </a>
          </div>
          <div class="navbar-nav" id="navbar3">
            <a class="nav-link" (click)="logout()">Logout</a>
          </div>
          </div>
          </div>
    
      </nav>
    </div>