/*
COMP249-WebHeroes
Manya Gupta - 301176500
Prince Duru - 301167756
Tatsat Tendulkar - 301166880
Shaqayeq Salimy - 301114141
Mark Vinarao - 301161669
*/

.carousel-item {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  #caption1 {
    color: white;
    text-align: center;
    top: 43%;
    bottom: initial;
    font-size: 50px;
  }
