<!--
COMP249-WebHeroes
Manya Gupta - 301176500
Prince Duru - 301167756
Tatsat Tendulkar - 301166880
Shaqayeq Salimy - 301114141
Mark Vinarao - 301161669
-->

<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide" height="500vh" width="100%">
      </div>
      <div class="carousel-caption" id="caption1">
        <p><b>Welcome to Web Heroes Survey site</b></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" height="500vh" width="100%">
      </div>
      <div class="carousel-caption" id="caption2">
        <h1><b>Our Goal</b></h1>
        <p>To Provide High Quality of Service to our Customers!</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide" height="500vh" width="100%">
      </div>
      <div class="carousel-caption" id="caption3">
        <h1><b>Experience Web App based and Self-serve Survey designs!</b></h1>
        <p>Everyone from the team have great knowledge and experience working in Software Engineering space.</p>
      </div>
    </ng-template>
</ngb-carousel>
<br>
<div class="customers">
  <h1><b>20,000+ Customers and counting!</b></h1>
</div>

<hr width="800px;"
size="5"
align="center">

<div class="customers">
<h2><b>Including:</b></h2>
</div>
<br>

<div class="imgcont">
  <div class="row">
    <div class="column2">
      <img src="/assets/yahoo.png" class="cust" alt="Manya" style="width:60%">
    </div>
    <div class="column2">
      <img src="/assets/google1.jfif" class="cust" alt="Prince" style="width:70%">
    </div>
    <div class="column2">
      <img src="/assets/bing.png" class="cust" alt="Shaqayeq" style="width:65%">
    </div>
  </div>
  </div>

  <hr width="1800px;"
size="5"
align="center">

<br><br><br><br>

<div class="content">
  <h1>Meet Our team of Experts!</h1>
</div>

<hr width="800px;"
size="5"
align="center">

<br>
<div class="imgcont">
<div class="row">
  <div class="column">
    <img src="/assets/Manya.jpg" class="pics" alt="Manya" style="width:60%">
    <p><b>Manya Gupta</b></p>
    <p>Project Manager</p>
  </div>
  <div class="column">
    <img src="/assets/Prince.jpg" class="pics" alt="Prince" style="width:70%">
    <p><b>Prince Duru</b></p>
    <p>Lead Software Engineer</p>
  </div>
  <div class="column">
    <img src="/assets/Shaqayeq.jpg" class="pics" alt="Shaqayeq" style="width:65%">
    <p><b>Shaqayeq</b></p>
    <p>Database Programmer</p>
  </div>
  <div class="column">
    <img src="/assets/Tatsat.jpg" class="pics" alt="Tatsat" style="width:65%">
    <p><b>Tatsat Tendulkar</b></p>
    <p>Web Designer/Security Programmer</p>
  </div>
  <div class="column">
    <img src="/assets/mjgvinarao.JPG" class="pics" alt="Mark" style="width:68%">
    <p><b>Mark Vinarao</b></p>
    <p>UI Programmer/Generalist</p>
  </div>
</div>
</div>

<hr width="1800px;"
size="5"
align="center">

<br><br>

<div class="social">
  <h5>Our Social Media Platforms</h5>
</div>


<div class="logocont">
  <div class="row">
    <div class="column2">
    </div>
    <div class="column2">
      <a href="https://www.facebook.com/"><img src="/assets/fb.png" class="pics" alt="Manya" style="width:6.5%"></a>
      <a href="https://twitter.com/"><img src="/assets/twit.png" class="pics" alt="Prince" style="width:7%" margin-left="100px"></a>
      <a href="https://www.instagram.com/"><img src="/assets/insta.png" class="pics" alt="Shaqayeq" style="width:6.5%"></a>
    </div>
    <div class="column2">
    </div>
  </div>
  </div>